*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  gap: 40%;
  background-color: blanchedalmond;
  
}

.home , .cart{
  cursor: pointer;
  color: black;
}

.navbar a{
  text-decoration: none;
}

.card-img{
  font-size: 200px;
  width: 300px;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.card-details{
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding: 1rem;
}
.items-container{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.items-container a{
  text-decoration: none;
  color: black;

}
.card-container{
  cursor: pointer;
}